:root {
    --primary: #222831;
    --secondary: #393e46;
    --yellow: #ffd369;
    --grey: #eeeeee;
    --white: white;

    --primary-hover: #111418;
    --secondary-hover: #1c1e23;
    --yellow-hover: #b37f00;
    --grey-hover: #777777;
    --white-hover: #7f7f7f;
}
