@import "./variables";
@import "./mixins";
@import "./buttons";
@import "./form";

html {
    font-size: 6.25%;
}

body {
    margin: 0;
    font-size: 16rem;
    background-color: var(--secondary);
    font-family: "Roboto", sans-serif;
    color: var(--white);
}

ul.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 700px;
    margin: auto;
}
